<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A40DE8F1E76261F00AD791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A40DE9F1E7649CF00AD791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B7A9CD1A3E9876002AAF7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
